Repository North-Seattle-College/ad440-winter2022-tuesday-repo, pull requests merged in 2022-03, with the labels that each got.

#109 Update the API to return meaningful feedback
  backend/simpleLambda/index.js
Labels: DevOps Team

#110 Error response tweaks for issue #87
  frontend/floop_feedback/.gitignore
  frontend/floop_feedback/package-lock.json
  frontend/floop_feedback/src/components/SubmitButton.js
Labels: Frontend Team

#108 quality of feedback based on the length of the conversation
  frontend/documentation/MlModel.ipynb
Labels: Frontend Team

#102 Integrate Create Lambda Function into the Lambda Deploy Script
  .github/scripts/makeLambdaFunction.bash
  .github/scripts/makeLambdaFunction.yml
  .github/workflows/deploy-lambda-function.yml
Labels: DevOps Team

#111 Update the API GW automation to create the paths from the Swagger
  devops/makeAPIGateway/makeAPIGateway.sh
  devops/makeAPIGateway/makeAPIGateway.yml
Labels: DevOps Team

#131 Update simplePostLambda return value
  backend/simpleLambda/index.js
Labels: DevOps Team

#130 #83 run sentiment algorithm on sage maker
  backend/sage-maker-clustering.ipynb
  backend/sentiment-analysis02.ipynb
  backend/sentiment_analysis_jupyter.ipynb
Labels: Backend Team

#133 run question algorithm on sage maker
  backend/questionAnalysis.ipynb
Labels: Backend Team

#136 Deploy sagemaker instance action
  .github/scripts/makeSgmkrInstance.bash
  .github/workflows/sgmkr-instance-deploy.yml
  backend/sentiment-analysis/floop_data_15k.json
  backend/sentiment-analysis/requirements.txt
  backend/sentiment-analysis/sentiment-analysis-sample.py
  frontend/floop_feedback/src/components/ClearButton.js
  frontend/floop_feedback/src/components/Container.js
  frontend/floop_feedback/src/components/styles/Container.css
Labels: Frontend Team

#139 Refactor script to analyze single comment threads
  backend/clustering_algorithm/conversation_clustering.py
Labels: Backend Team

#137 update ML model
  frontend/documentation/MlModel.ipynb
Labels: Frontend Team

#160 Added instructions for creating SSL encryption
  backend/documentations/ssl_guide.md
Labels: Backend Team

#165 Adding a simple folde that has teacher feedback in post lambda
  backend/simpleLambdaForTeacherFeedback/index.js
Labels: Backend Team

#141 lambda for split sentence
  backend/split_sentenc/indx.js
Labels: Backend Team

#162 Updated lambda function to return the sentiment of a sentence
  backend/simpleLambda/sentiment.py
Labels: Backend Team

#168 Improve the error handling of the teacher post api
  backend/simpleLambdaForTeacherFeedback/index.js
Labels: Backend Team

#142 options methods added to api
  backend/simpleLambda/index.js
Labels: Backend Team

#163 Add cloudformation template and script for dynamo db creation
  devops/makeDynamoDb/makeDynamoDb.bash
  devops/makeDynamoDb/makeDynamoDb.yml
Labels: DevOps Team

#167 Configure API gateway to invoke sentiment
  devops/makeAPIGateway/makeAPIGatewayInvokeSentiment.sh
  devops/makeAPIGateway/makeAPIGatewayInvokeSentiment.yml
Labels: DevOps Team

#170 change classifier and add more for demo
  frontend/documentation/MlModel.ipynb
Labels: Frontend Team

#171 S3 deploy demo
  frontend/floop_feedback/src/components/Container.js
Labels: Frontend Team
