Repository North-Seattle-College/ad440-winter2022-tuesday-repo, pull requests merged in 2022-01, with the labels that each got.

#21 create a devops folder
  devops/.gitignore
Labels: DevOps Team

#18 Add cloudformation template and script for S3 bucket
  devops/makeReactBucket/makeReactBucket.json
  devops/makeReactBucket/makeReactBucket.sh
Labels: DevOps Team

#17 add data collection script
  floop_data_collection.py
Labels: Backend Team

#19 backend folder created
  backend/.gitignore
  floop_data_collection.py
Labels: Backend Team

#16 frontend set up
  frontend/floop_feedback/.gitignore
  frontend/floop_feedback/README.md
  frontend/floop_feedback/package-lock.json
  frontend/floop_feedback/package.json
  frontend/floop_feedback/public/favicon.ico
  frontend/floop_feedback/public/index.html
  frontend/floop_feedback/public/logo192.png
  frontend/floop_feedback/public/logo512.png
  frontend/floop_feedback/public/manifest.json
  frontend/floop_feedback/public/robots.txt
  frontend/floop_feedback/src/App.css
  frontend/floop_feedback/src/App.js
  frontend/floop_feedback/src/App.test.js
  frontend/floop_feedback/src/index.css
  frontend/floop_feedback/src/index.js
  frontend/floop_feedback/src/logo.svg
  frontend/floop_feedback/src/reportWebVitals.js
  frontend/floop_feedback/src/setupTests.js
Labels: Frontend Team

#32 Created wireframes
  frontend/documentation/CloudWireframes.pptx
Labels: documentation, Frontend Team

#34 React S3 Action Documentation Added
  frontend/documentation/reactS3Action.md
Labels: documentation, Frontend Team

#33 React Specifications
  frontend/documentation/reactSpecification.md
Labels: documentation, Frontend Team

#29 Create a prototype for POST request
  frontend/documentation/fetchPOST.md
Labels: documentation, Frontend Team

#25 Simple lambda
  backend/simpleLambda/index.js
Labels: Backend Team

#28 uploading investigation of AWS technology that can run clustering alg…
  InvestigateAWS.md
Labels: Backend Team

#36 Kj issue 11 lambda creation
  .gitignore
  devops/makeLambdaFunction/makeLambdaFunction.sh
  devops/makeLambdaFunction/makeLambdaFunction.yml
Labels: enhancement, DevOps Team
