Repository North-Seattle-College/ad440-winter2022-tuesday-repo, pull requests merged in 2022-02, with the labels that each got.

#38 fixed folder layout
  backend/apis/N5251-AIFeedbackCoach-1.0-resolved.yaml
  backend/data/floop_data_collection.py
  backend/documentations/InvestigateAWS.md
  backend/simpleLambda/index.js
Labels: Backend Team

#59 React S3 Action deploy
  .github/workflows/S3-deploy.yml
  frontend/documentation/reactS3Action.md
Labels: documentation, Frontend Team

#30 Python script run feedback datasets#22
  backend/.gitignore
  backend/info.md
  backend/task.py
Labels: Backend Team

#60 Make S3 bucket script machine runnable
  devops/common.lib
  devops/makeReactBucket/makeReactBucket.bash
  devops/makeReactBucket/makeReactBucket.json
  devops/makeReactBucket/makeReactBucket.sh
  devops/makeReactBucket/makeReactBucket.yml
Labels: DevOps Team

#61 update script to write directly to S3
  backend/data/floop_data_collection.py
Labels: Backend Team

#63 Update S3 bucket script to accept a region argument and set an env variable
  devops/common.lib
  devops/makeReactBucket/makeReactBucket.bash
Labels: DevOps Team

#69 S3 deploy github action
  .github/scripts/makeReactBucket.bash
  .github/scripts/makeReactBucket.yml
  .github/workflows/S3-deploy.yml
Labels: Frontend Team

#75 Python Regex for Splitting Feedback into Sentences stored in a List
  devops/floop_data_15k.json
  devops/splitsentences.py
Labels: DevOps Team

#78 Create a Submit button that handles POST request
  frontend/floop_feedback/src/components/SubmitButton.js
Labels: Frontend Team

#74 Feedback analysis
  frontend/floop_feedback/src/components/FeedbackAnalysis.js
Labels: Frontend Team

#72 Container
  frontend/floop_feedback/src/components/App.js
  frontend/floop_feedback/src/components/Container.js
Labels: Frontend Team

#71 Created Error Message Component
  frontend/floop_feedback/src/components/ErrorMessage.js
Labels: Frontend Team

#73 Create a component for the feedback text
  frontend/floop_feedback/src/components/FeedbackText.js
  frontend/floop_feedback/src/components/InputTextBar.js
Labels: Frontend Team

#77 Sage maker clustering
  backend/sage-maker-clustering.ipynb
Labels: Backend Team

#99 determin if sentence is a question
  backend/question.py
Labels: Backend Team

#101 Updates script to upload contents of simpleLambda folder as a zip file
  backend/simpleLambda/makeLambdaFunction.yml
  devops/makeLambdaFunction/makeLambdaFunction.bash
  devops/makeLambdaFunction/makeLambdaFunction.sh
Labels: DevOps Team

#79 Create Automation for API Gateway
  devops/makeAPIGateway/makeAPIGateway.sh
  devops/makeAPIGateway/makeAPIGateway.yml
Labels: DevOps Team

#98 Update script to retrieve full conversations
  backend/data/floop_data_collection.py
  backend/data/requirements.txt
Labels: DevOps Team

#103 Styling added to UI
  frontend/floop_feedback/src/components/Container.js
  frontend/floop_feedback/src/components/FeedbackAnalysis.js
  frontend/floop_feedback/src/components/FeedbackText.js
  frontend/floop_feedback/src/components/Footer.js
  frontend/floop_feedback/src/components/Header.js
  frontend/floop_feedback/src/components/images/Floop.png
  frontend/floop_feedback/src/components/images/Floop_Logo_Text.png
  frontend/floop_feedback/src/components/styles/Container.css
Labels: Frontend Team

#104 Implement Script to Do Some Clustering by Number of Threads in Conver…
  backend/clustering_algorithm/conversation_clustering.py
Labels: Backend Team

#105 S3 action updates
  .github/workflows/S3-deploy.yml
Labels: Frontend Team
